/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Playfair+Display:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes translate {
  0% {  transform: translateX(-70%);  }
  50% { transform: translateX(0); }
  100%{ transform: translateX(70%); }
}

.animate-translate {
  animation: translate 30s linear infinite;
}
